.git
.github
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
.env
.env.*
!.env.example
tests
phpunit.xml
README.md
.DS_Store
docker-compose*.yml
